@import '../../styles/global';

.app{
    // background-color: $themeSlateOffsetPrimary;
    // background-color: $themeSlatePrimary;

    &__topnav{

    }
    &__main{
        display: flex;
        height: 95vh;
        align-items: center;
    // background-color: $themeSlatePrimary;
    }
}