@import '../../styles/global';

.topnav{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: $themeSlatePrimary;
    height: 5vh;
    position: relative;

    &__heading{
        color: $themeSlateOffsetPrimary;
    }

    &__user{
        color: $themeSlateContrastTertiary;
    }

    &__auth-control{
        background-color: $themeSlateContrastTertiary;
        border-color: $themeSlateContrastTertiary;
        color: $themeSlateOffsetPrimary;
        font-family: "Raleway";
        border-radius: 4px;
        margin-left: 16px;

        &:hover{
            cursor: pointer;
        }
    }
}