@import '../../styles/global';

.about{
    width: 100%;
    height: 100%;
    background-color: $themeSlateOffsetPrimary;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container{

        &-heading{
            color: $themeSlatePrimary;
        }
    }
}